# 0. Variables

In [84]:
space_name = "Astronaut Marc"

In [85]:
print(space_name)

Astronaut Marc

In [86]:
type(space_name)

str

# 1. Datatypes

In [87]:
# This is declaring a variable as a STRING
test_variable = "pluto"

In [88]:
# This is declaring a variable as an Integer
integer_variable = 12345
type(integer_variable)

int

In [89]:
integer_variable+10

12355

In [90]:
# This is assigning a BOOLEAN value to a variable
bool_variable = bool(0)
type(bool_variable)

bool

In [91]:
# creating a LIST variable
list_variable = [1,2,3,4,82.5,23.3,1,2,3,1,2,3]
type(list_variable)

list

In [92]:
list_variable

[1, 2, 3, 4, 82.5, 23.3, 1, 2, 3, 1, 2, 3]

In [93]:
list_variable[0]

1

In [94]:
list_variable[0]=5
list_variable[0]

5

In [95]:
# Create a TUPLE
# Its IMMUTABLE (values can't be changed)
tuple_variable = (1,2,3,4,82.5,23.3,1,2,3,1,2,3)
type(tuple_variable)

tuple

In [96]:
tuple_variable

(1, 2, 3, 4, 82.5, 23.3, 1, 2, 3, 1, 2, 3)

In [97]:
tuple_variable[0]

1

In [98]:
tuple_variable[0]=5

TypeError: 'tuple' object does not support item assignment

In [100]:
# This is creating a SET variable
# IMMUTABLE (values can't be changed)
# No DUPLICATES
set_variable = {1,5,3,4,82.5,23.3,3,1,2,3,1,2,3}
type(set_variable)

set

In [106]:
# Type casting list, to set back to list, to get rid of duplicates
list(set(list_variable))

[1, 2, 3, 4, 5, 82.5, 23.3]

In [108]:
# Defining a dictionary variable
dict_variable = {'name':'Marc', 'favourite_color':'red', 'age':20}
type(dict_variable)

dict

In [111]:
dict_variable['name']

'Marc'