# 0. Variables

In [17]:
space_name = "Astronaut Marc"

In [18]:
print(space_name)

Astronaut Marc

In [19]:
type(space_name)

str

# 1. Datatypes

In [20]:
# This is declaring a variable as a STRING
test_variable = "pluto"

In [21]:
# This is declaring a variable as an Integer
integer_variable = 12345
type(integer_variable)

int

In [22]:
integer_variable+10

12355

In [23]:
# This is assigning a BOOLEAN value to a variable
bool_variable = bool(0)
type(bool_variable)

bool

In [24]:
# creating a LIST variable
list_variable = [1,2,3,4,82.5,23.3,1,2,3,1,2,3]
type(list_variable)

list

In [25]:
list_variable

[1, 2, 3, 4, 82.5, 23.3, 1, 2, 3, 1, 2, 3]

In [26]:
list_variable[0]

1

In [27]:
list_variable[0]=5
list_variable[0]

5

In [28]:
# Create a TUPLE
# Its IMMUTABLE (values can't be changed)
tuple_variable = (1,2,3,4,82.5,23.3,1,2,3,1,2,3)
type(tuple_variable)

tuple

In [29]:
tuple_variable

(1, 2, 3, 4, 82.5, 23.3, 1, 2, 3, 1, 2, 3)

In [30]:
tuple_variable[0]

1

In [31]:
# tuple_variable[0]=5 => Error

In [32]:
# This is creating a SET variable
# IMMUTABLE (values can't be changed)
# No DUPLICATES
set_variable = {1,5,3,4,82.5,23.3,3,1,2,3,1,2,3}
type(set_variable)

set

In [33]:
# Type casting list, to set back to list, to get rid of duplicates
list(set(list_variable))

[1, 2, 3, 4, 5, 82.5, 23.3]

In [34]:
# Defining a dictionary variable
dict_variable = {'name':'Marc', 'favourite_color':'red', 'age':20}
type(dict_variable)

dict

In [35]:
dict_variable['name']

'Marc'

# 2. Lists

In [36]:
# Create

In [37]:
#Read

In [38]:
# Update

In [ ]:
# Delete