# 0. Import Data

In [5]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [6]:
df = pd.read_csv('Churn.csv')

In [7]:
X = pd.get_dummies(df.drop(['Churn', 'Customer ID'], axis=1))
y = df['Churn'].apply(lambda x: 1 if x == 'Yes' else 0)

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=.2)

In [9]:
X_train.head()

,Senior Citizen,tenure,Monthly Charges,Gender_Female,Gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,Phone Service_No,...,Total Charges_995.35,Total Charges_996.45,Total Charges_996.85,Total Charges_996.95,Total Charges_997.65,Total Charges_997.75,Total Charges_998.1,Total Charges_999.45,Total Charges_999.8,Total Charges_999.9
3250,0,10,55.55,1,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2172,0,2,60.85,1,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3021,0,33,34.05,0,1,1,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
5754,0,2,19.90,0,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
6119,0,72,118.20,0,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

# 1. Import Dependencies

In [10]:
from tensorflow.keras.models import Sequential, load_model
from tensorflow.keras.layers import Dense
from sklearn.metrics import accuracy_score

# 2. Build and Compile model

In [11]:
model = Sequential()
# add hidden layers
model.add(Dense(units=32, activation='relu', input_dim=len(X_train.columns)))
model.add(Dense(units=64, activation='relu'))
model.add(Dense(units=1, activation='sigmoid'))

# 3. Fit, Predict and Evaluate

# 4. Saving and Reloading