# 0. Variables

In [15]:
space_name = "Astronaut Marc"

In [18]:
print(space_name)

Astronaut Marc

In [19]:
type(space_name)

str

# 1. Datatypes

In [22]:
# This is declaring a variable as a STRING
test_variable = "pluto"

In [24]:
# This is declaring a variable as an Integer
integer_variable = 12345
type(integer_variable)

int

In [26]:
integer_variable+10

12355

In [33]:
# This is assigning a boolean value to a variable
bool_variable = bool(0)
type(bool_variable)

bool

In [37]:
# creating a list variable
list_variable = [1,2,3,4,82.5,23.3]
type(list_variable)

list

In [48]:
list_variable

[1, 2, 3, 4, 82.5, 23.3]

In [62]:
list_variable[0]

1

In [66]:
list_variable[0]=5
list_variable[0]

5

In [52]:
# Create a tuple
# Difference to a list is, that a variable cant appear 2 times in a tuple
# Its also IMMUTABLE (values can't be changed)
tuple_variable = (1,2,3,4,82.5,23.3)
type(tuple_variable)

tuple

In [56]:
tuple_variable

(1, 2, 3, 4, 82.5, 23.3)

In [57]:
tuple_variable[0]

1